.MainDiv{
  display: flex;
  height:80vh;
  width:80vw;
  border:2px solid red;
  margin-left:10%;
  margin-top:5%;
}

.LeftDiv{
  height:70vh;
  width:15vw;
  margin-left:5vw;
  border:2px solid yellow;
  margin-top:5vh;
}

.RightDiv{
  height:70vh;
  margin-left:5vw;
  width:50vw;
  margin-right:5vw;
  border:2px solid blue;
  margin-top:5vh;
}

.CompContainer{
  background-color:yellow;
  width:11vw;
  margin-top: 2vh;
  padding:1.8rem;
  margin:1vh 1.2vw 1.6vw 1vh;
}

.CompContainer2{
  background-color:yellow;
  width:11vw;
  margin-top: 2vh;
  padding:1.8rem;
  margin:auto;
  margin-top:1vh;
}

